form{
    display: block;
}
input, select, button {
    moz-box-shadow: inset -3px -3px 10px #cc870a;
    -webkit-box-shadow: inset -3px -3px 10px #cc870a;
    box-shadow: inset -3px -3px 10px #cc870a;
    background-color: #f7b31c; /* Fill color */
    color: white; /* Text color */
    border-radius: 15px; /* Rounded button edges */
    font-style: italic; /* Italicize text */
    padding: 10px 30px; /* Distance between text and border */
}

input:focus, select:focus, button:focus{
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}
