.message {
  border-radius: 25px;
  padding: 10px;
  margin-top: 15px;
  color: white;
}

.my-message {
  margin-left: auto;
  background-color: #472f25;
}

.received-message {
  margin-right: auto;
  background-color: #652D15;
}
