$backgroundColor: #485461;
$backgroundColorTransparency: #485461E5;
$backgroundColor2: #28313b;
$backgroundColor2Transparency: #28313BE5;
$white: #fff;
$light-white: #eee;
$overlay: #2B333BCC;

//https://www.canva.com/colors/color-palettes/wood-and-paper/
$tobacco: #705446;
$calico: #E1C391;
$cream: #FDF4E3;
$ebony: #3C3431;