$backgroundColor: #485461;
$backgroundColor2: #28313b;
$white: #fff;
$light-white: #eee;
$overlay: #2B333BCC;

//https://www.canva.com/colors/color-palettes/wood-and-paper/
$tan: #705446;
$beige: #E1C391;
$cream: #FDF4E3;
$ebony: #3C3431;