.flexRowContainer {
  display: flex;
}

.flexColContainer {
  display: flex;
  flex-direction: column;
}

.twoAxisCenter {
  align-items: center;
  justify-content: center;
}

.alignCenter {
  align-items: center;
}

.justifyCenter {
  justify-content: center;
}

textarea::-webkit-input-placeholder {
  opacity: 0.5; /*Change the opacity between 0 and 1*/
}
