.stats {
    display: flex; /* or inline-flex */
    text-align: center;
    color: wheat;
}
.stat {
    border: #282c34 1px solid;
    width: 40%;
    background-image: url("https://opengameart.org/sites/default/files/Full%20Moon%20-%20background.png");
}

.nick {

}

.rank{

}

.reputation{

}

.notes{

}

.progress{
  width: 1210px;
}
.progress-bar{
margin:auto;
    width: 90%;
}

ul{
    list-style-type: none;
}
