@import "src/styles/colors";

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes hide {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

.active {
  .links {
    a {
      animation: appear 0.5s forwards ease var(--time);
    }
    .btn {
      animation: appear 0.5s forwards ease var(--time);
    }
  }
}

.links {
  position: absolute;
  width: 30%;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 2;

  a {
    text-decoration: none;
    color: $light-white;
    padding: 0.7rem 0;
    display: inline-block;
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.3s;
    opacity: 0;
    transform: translateY(10px);
    animation: hide 0.5s forwards ease;

    &:hover {
      color: $white;
    }
  }
}

.btn {
  background-color: transparent;
  color: #E1C391;
  font-size: 1.5rem;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.3s;
  opacity: 0;
  animation: hide 0.5s forwards ease;
  transform: translateY(10px);
}

ul {
  list-style: none;
}
