.App {
  text-align: center;
  background: url("https://opengameart.org/sites/default/files/Full%20Moon%20-%20background.png") ;

  /* Full height */
  height: 940px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.player-info {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex; /* or inline-flex */
  text-align: center;
}
